@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

/* Estilo padrão: já para celular */
body {
    font-size: 16px;
    padding: 10px;
}

nav {
    margin: auto;
    display: flex;
    width: 414px;
    height: 99px;
}

.home {
    width: 50px;
    height: 20px;
    margin: 39.5px 0 39.5px 24px;
    font-family: Montserrat;
}

.home a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.menu {
    width: 204px;
    height: 45px;
    display: flex;
    margin: 27px 24px 27px 120px;
    gap: 32px;
}

.menu a {
    margin: 12.5px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: Montserrat;
}

.botaomenu {
    background-color: #5222d0;
    width: 105px;
    height: 45px;
    border-radius: 6px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.botaomenu a {
    color: white;
    text-decoration: none;
    font-family: Montserrat;
}

.secao1 {
    width: 329.4px;
    height: 569.54px;
    margin: 29px auto;
}

.secao1 img {
    width: 318.96px;
    height: 238.77px;
}

.developer {
    text-align: center;
    margin: 63.27px auto 12.5px;
}

.secao1 h1 {
    text-align: center;
    margin: 12.5px auto 16px;
    color: #5222D0;
    font-family: Montserrat;
}

.descricao {
    text-align: center;
    color: #1F2626;
    margin: 16px auto 16px;
    font-size: 16px;
    font-family: Montserrat;
}

.contactme2 {
    background-color: #5222d0;
    width: 134px;
    height: 45px;
    margin: 16px auto;
    border-radius: 6px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.secao1 a {
    color: white;
    text-decoration: none;
    font-family: Montserrat;
}

.secao2 {
    border-left: 4px solid #7b2ff7;
    /* cor e espessura da linha */
    padding-left: 10px;
    /* espaço entre a linha e o texto */
    width: 342.48px;
    height: 410px;
    margin: 72px auto;
}

.secao2 h2 {
    margin-left: 46px;
    margin-bottom: 20px;
    font-family: Montserrat;
}

.secao2 p {
    font-size: 18px;
    color: #1F2626;
    font-family: Montserrat;
    margin-bottom: 72px;
}

.secao3 {
    border: 2px solid rgb(189, 0, 0);
    width: 364.5px;
    height: 1294px;
    margin: 72px auto;
}

.secao3 h2 {
    font-family: Montserrat;
    font-size: 24px;
    color: #151717;
    margin-bottom: 32px;
}

.secao3 img {
    border: 2px solid blue;
    width: 363px;
    height: 296.05px;
}

.secao3 h3 {
    margin-top: 16px;
    margin-bottom: 11px;
    color: #151717;
    font-family: Montserrat;
}

.linkssecao3 {
    border: 2px solid rgb(255, 0, 234);
    width: 313px;
    height: 72px;
    margin-bottom: 16px;
    display: flex;
}






/* Quando a tela for maior que 768px (tablet e desktop) */
@media (min-width: 768px) {
    body {
        font-size: 18px;
        padding: 20px;
    }
}

/* Quando a tela for maior que 1024px (desktop grande) */
@media (min-width: 1024px) {
    body {
        font-size: 20px;
        padding: 30px;
    }
}