footer {
    width: 320px;
    height: 200px;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto 0px auto;
    color: #1F2626;
}

.redes {
    width: 320px;
    height: 65px;
    display: flex;
    gap: 73px;
}

.gmail {
    width: 46px;
    height: 60px;
    display: flex;
    justify-content: center;/* centraliza horizontalmente */
    align-items: center;/* centraliza verticalmente */
    flex-direction: column;
}

.imagemgmail {
    width: 38px;
    height: 38px;
}

.gmail a {
    font-size: 12px;
    letter-spacing: 12%;
    margin-top: 9px;
    color: #1F2626;
}

.linkedin {
    width: 71px;
    height: 60px;
    display: flex;
    justify-content: center;/* centraliza horizontalmente */
    align-items: center;/* centraliza verticalmente */
    flex-direction: column;
}

.imagemlinkedin {
    width: 38px;
    height: 38px;
}

.linkedin a {
    font-size: 12px;
    letter-spacing: 12%;
    margin-top: 9px;
    color: #1F2626;
}

.github {
    width: 56px;
    height: 60px;
    display: flex;
    justify-content: center;/* centraliza horizontalmente */
    align-items: center;/* centraliza verticalmente */
    flex-direction: column;
}

.imagemgithub {
    width: 38px;
    height: 38px;
}

.github a {
    font-size: 12px;
    letter-spacing: 12%;
    margin-top: 9px;
    color: #1F2626;
}

.grupo {
    width: 161px;
    height: 17px;
    margin: 49px auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    display: flex;
    gap: 48px;
}

.grupo a{
    color: #1F2626;
}

.webdev {
    width: 172px;
    height: 26px;
    margin: 49px auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    letter-spacing: 4%;
}

.webdev a{
    color: #1F2626;
}


@media (min-width: 600px) {
    footer {
        width: 320px;
        height: 200px;
        font-family: 'Montserrat', sans-serif;
        margin: 217px auto 88px auto;
        color: #1F2626;
    }
}