.skills {
    width: 364px;
    height: 996px;
    font-family: 'Montserrat', sans-serif;
    margin: 105px auto 0px auto;
}

.skills h2 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #1F2626;
}

.skills-geral {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 364px;
}

.skill-item {
    width: 88px;
    height: 121px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.skill-item img {
    width: 88px;
    height: 120px;
}

.skill-item p {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 11.93px;
    line-height: 100%;
    letter-spacing: 13.54%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #1F2626;
    margin-top: 15px;
}

.skill-git {
    margin-top: 40px;
}

@media (min-width: 600px) {
    .skills {
        width: 1080px;
        height: 700px;
        margin-top: 150px;
        margin-bottom: 180px;
        font-family: 'Montserrat', sans-serif;
    }

    .skills h2 {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 28px;
        color: #1F2626;
    }

    .skills-geral {
        width: 1080px;
        height: 664px;
        flex-wrap: wrap;
        gap: 59px 120px;
        align-items: flex-start;
    }

    .skill-item {
        width: 120px;
        height: 164px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .skill-item img{
        width: 120px;
        height: 120px;
    }

    .skill-item p {
        white-space: nowrap;
    }

}